<a href="https://colab.research.google.com/github/liassantos/Projetos-Data-Science/blob/main/API_California_Schools/Tratamento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Caso 1 -- Tratamento de dados
<h4>Alunos</h4>


1.   José Freitas Alves Neto
2.   Lia Santos Ponce de Leon
3.   Lucas do Vale Pimentel

# **1.** Importando Dados

In [ ]:
# Baixa o arquivo do Google Drive a partir da url compartilhada
# Carrega os pacotes
install.packages(c("googledrive", "tidyr","ggpmisc"))
library(googledrive)
library(ggplot2)
library(ggpmisc)
library(dplyr)
library(tidyr)
library(fs)
url <- "https://drive.google.com/file/d/1v0crGqVwYM5n2yyNbg7ZsgmE1lp9zj1z/view?usp=drive_link"
dst <- "/content/dataset2/api.csv"

# Extração do ID
id <- strsplit(x = url, split = "/")
id <- id[[1]][6]
id
# Baixa o arquivo
drive_deauth()
drive_user()
public_file <- drive_get(as_id(id))
dir.create(dirname(dst))
drive_download(public_file, path = dst, overwrite = T)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gridExtra’, ‘xts’, ‘zoo’, ‘SparseM’, ‘MatrixModels’, ‘mvtnorm’, ‘TH.data’, ‘sandwich’, ‘Rcpp’, ‘ggpp’, ‘confintr’, ‘polynom’, ‘quantreg’, ‘lmodel2’, ‘splus2R’, ‘multcomp’, ‘multcompView’, ‘plyr’


Loading required package: ggpp

Registered S3 methods overwritten by 'ggpp':
  method                  from
  heightDetails.titleGrob ggplot2
  widthDetails.titleGrob  ggplot2


Attaching package: ‘ggpp’


The following object is masked from ‘package:ggplot2’:

    annotate


Registered S3 method overwritten by 'ggpmisc':
  method                  from
  as.character.polynomial polynom


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] "1v0crGqVwYM5n2yyNbg7ZsgmE1lp9zj1z"

ℹ Not logged in as any specific Google user.

Warning message in dir.create(dirname(dst)):
“'/content/dataset2' already exists”
File downloaded:

• api.csv <id: 1v0crGqVwYM5n2yyNbg7ZsgmE1lp9zj1z>

Saved locally as:

• /content/dataset2/api.csv

# **2.** Tratando os dados

## 2.1 Conhecendo os dados

In [ ]:
df_api <- read.csv(file = dst, sep = ";")
head(df_api, 3)

  id           tipo     nome           nomec          num dst_nm
1 1.611190e+12 Superior Alameda High   Alameda High   1   Alameda City Unified
2 1.611190e+12 Superior Encinal High   Encinal High   2   Alameda City Unified
3 1.611196e+12 Medio    Chipman Middle Chipman Middle 3   Alameda City Unified
  dst_num cdd_nm  cdd_num flag ⋯ edu_supi edu_sup edu_medi edu_med edu_pos
1 6       Alameda 1       NA   ⋯  6       16      22       38      18
2 6       Alameda 1       NA   ⋯ 11       20      29       31       9
3 6       Alameda 1       NA   ⋯ 11       31      30       20       8
  edu              prof_qlt prof_qle inscritos test_num
1 3,45000004768372 85       16       1278      1090
2 3,05999994277954 90       10       1113       840
3 2,8199999332428  80       12        546       472

In [ ]:
str(df_api)

'data.frame':	6194 obs. of  37 variables:
 $ id       : num  1.61e+12 1.61e+12 1.61e+12 1.61e+12 1.61e+12 ...
 $ tipo     : chr  "Superior" "Superior" "Medio" "Fundamental" ...
 $ nome     : chr  "Alameda High" "Encinal High" "Chipman Middle" "Lum (Donald D.)" ...
 $ nomec    : chr  "Alameda High" "Encinal High" "Chipman Middle" "Lum (Donald D.) Elementary" ...
 $ num      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ dst_nm   : chr  "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" ...
 $ dst_num  : int  6 6 6 6 6 6 6 6 6 6 ...
 $ cdd_nm   : chr  "Alameda" "Alameda" "Alameda" "Alameda" ...
 $ cdd_num  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ flag     : logi  NA NA NA NA NA NA ...
 $ test_pct : int  96 99 99 99 99 100 100 99 99 99 ...
 $ api00    : int  731 622 622 774 811 780 808 739 795 650 ...
 $ api99    : int  693 589 572 732 784 725 765 667 792 580 ...
 $ meta     : int  5 11 11 3 1 4 2 7 1 11 ...
 $ meta_dif : int  38 33 50 42 27 55 43 72 3 70 ...
 $ meta_r1  : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ meta_r2  : chr  "Yes" "No" "Yes" "Yes" ...
 $ meta_rs  : chr  "Yes" "No" "Yes" "Yes" ...
 $ pprm     : chr  "Yes" "No" "Yes" "Yes" ...
 $ refs     : int  14 20 55 35 15 25 22 50 10 71 ...
 $ npi      : int  16 18 25 26 9 18 9 35 10 41 ...
 $ cald     : chr  NA NA NA NA ...
 $ nov      : int  9 13 20 21 11 12 8 18 11 17 ...
 $ ack3     : int  NA NA NA 20 20 20 20 20 NA 20 ...
 $ ac46     : int  NA NA 26 30 29 29 26 31 29 25 ...
 $ dbase    : int  25 27 27 NA NA NA NA NA 29 NA ...
 $ edu_resp : int  91 84 86 96 96 87 90 82 92 91 ...
 $ edu_supi : int  6 11 11 3 3 6 4 11 2 16 ...
 $ edu_sup  : int  16 20 31 22 9 11 27 35 12 30 ...
 $ edu_medi : int  22 29 30 29 29 28 25 27 24 31 ...
 $ edu_med  : int  38 31 20 31 26 41 32 21 34 20 ...
 $ edu_pos  : int  18 9 8 15 33 13 12 6 28 3 ...
 $ edu      : chr  "3,45000004768372" "3,05999994277954" "2,8199999332428" "3,3199999332428" ...
 $ prof_qlt : int  85 90 80 96 95 90 93 93 89 100 ...
 $ prof_qle : int  16 10 12 4 5 5 0 11 16 0 ...
 $ inscritos: int  1278 1113 546 330 233 276 180 363 850 263 ...
 $ test_num : int  1090 840 472 272 216 247 167 292 782 219 ...

## 2.2 Convertendo colunas

In [ ]:
#Criando vetor de colunas que serão convertidas em fator
colunas_factor <- c(
    "tipo", "meta_r1", "meta_r2", "meta_rs", "pprm", "cald"
)

In [ ]:
#Convertendo colunas em fator
df_novo <- mutate(df_api, across(all_of(colunas_factor), as.factor))

In [ ]:
# #Criando vetor de colunas que serão convertidas em números

# colunas_numeric <- c(
#     "test_pct", "api00", "api99", "meta",
#     "meta_dif", "refs", "npi", "nov",
#     "ack3", "ac46", "dbase", "edu_resp",
#     "edu_supi", "edu_sup", "edu_medi", "edu_med",
#     "edu_pos", "prof_qlt", "prof_qle", "inscritos", "test_num","edu"
# )
# colunas_numeric

In [ ]:
# Substituição da "," por "." em números decimais
str(df_novo[,"edu"])
df_novo$edu <- gsub(",", ".", df_novo$edu)
str(df_novo[,"edu"])

 chr [1:6194] "3,45000004768372" "3,05999994277954" "2,8199999332428" ...
 chr [1:6194] "3.45000004768372" "3.05999994277954" "2.8199999332428" ...

In [ ]:
# #Convertendo colunas em números

# df_novo %>%
#   mutate(across(all_of(colunas_numeric), as.numeric)) %>%
#   str()



---

In [ ]:
# Separando as colunas numéricas
cols_num <- c("api00", "api99",
    "meta_dif", "refs", "npi", "nov",
    "ack3", "ac46", "dbase", "edu_resp",
    "edu_supi", "edu_sup", "edu_medi", "edu_med",
    "prof_qlt", "prof_qle","test_num","edu"
)
# Separando as colunas de fatores
cols_cat <- c(
    "tipo", "meta_r1", "meta_r2", "meta_rs", "pprm", "cald"
)

cols_usadas <- c("id",cols_cat,cols_num,"dst_nm","cdd_nm")

cols_usadas

 [1] "id"       "tipo"     "meta_r1"  "meta_r2"  "meta_rs"  "pprm"
 [7] "cald"     "api00"    "api99"    "meta_dif" "refs"     "npi"
[13] "nov"      "ack3"     "ac46"     "dbase"    "edu_resp" "edu_supi"
[19] "edu_sup"  "edu_medi" "edu_med"  "prof_qlt" "prof_qle" "test_num"
[25] "edu"      "dst_nm"   "cdd_nm"

In [ ]:
# Substituindo dataset
df <- df_novo[,cols_usadas]
str(df)

'data.frame':	6194 obs. of  27 variables:
 $ id      : num  1.61e+12 1.61e+12 1.61e+12 1.61e+12 1.61e+12 ...
 $ tipo    : Factor w/ 3 levels "Fundamental",..: 3 3 2 1 1 1 1 1 2 1 ...
 $ meta_r1 : Factor w/ 2 levels "No","Yes": 2 2 2 2 2 2 2 2 2 2 ...
 $ meta_r2 : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ meta_rs : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ pprm    : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ cald    : Factor w/ 1 level "No": NA NA NA NA NA NA NA NA NA NA ...
 $ api00   : int  731 622 622 774 811 780 808 739 795 650 ...
 $ api99   : int  693 589 572 732 784 725 765 667 792 580 ...
 $ meta_dif: int  38 33 50 42 27 55 43 72 3 70 ...
 $ refs    : int  14 20 55 35 15 25 22 50 10 71 ...
 $ npi     : int  16 18 25 26 9 18 9 35 10 41 ...
 $ nov     : int  9 13 20 21 11 12 8 18 11 17 ...
 $ ack3    : int  NA NA NA 20 20 20 20 20 NA 20 ...
 $ ac46    : int  NA NA 26 30 29 29 26 31 29 25 ...
 $ dbase   : int  25 27 27 NA NA NA NA NA 29 NA ...
 $ edu_resp: int  91 84 86 96 96 87 90 82 92 91 ...
 $ edu_supi: int  6 11 11 3 3 6 4 11 2 16 ...
 $ edu_sup : int  16 20 31 22 9 11 27 35 12 30 ...
 $ edu_medi: int  22 29 30 29 29 28 25 27 24 31 ...
 $ edu_med : int  38 31 20 31 26 41 32 21 34 20 ...
 $ prof_qlt: int  85 90 80 96 95 90 93 93 89 100 ...
 $ prof_qle: int  16 10 12 4 5 5 0 11 16 0 ...
 $ test_num: int  1090 840 472 272 216 247 167 292 782 219 ...
 $ edu     : chr  "3.45000004768372" "3.05999994277954" "2.8199999332428" "3.3199999332428" ...
 $ dst_nm  : chr  "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" ...
 $ cdd_nm  : chr  "Alameda" "Alameda" "Alameda" "Alameda" ...

In [ ]:
# Transformando as colunas em numéricas
for(col in cols_num){
    df[,col] <- as.numeric(df[,col])
}
str(df)

'data.frame':	6194 obs. of  27 variables:
 $ id      : num  1.61e+12 1.61e+12 1.61e+12 1.61e+12 1.61e+12 ...
 $ tipo    : Factor w/ 3 levels "Fundamental",..: 3 3 2 1 1 1 1 1 2 1 ...
 $ meta_r1 : Factor w/ 2 levels "No","Yes": 2 2 2 2 2 2 2 2 2 2 ...
 $ meta_r2 : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ meta_rs : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ pprm    : Factor w/ 2 levels "No","Yes": 2 1 2 2 2 2 2 2 2 2 ...
 $ cald    : Factor w/ 1 level "No": NA NA NA NA NA NA NA NA NA NA ...
 $ api00   : num  731 622 622 774 811 780 808 739 795 650 ...
 $ api99   : num  693 589 572 732 784 725 765 667 792 580 ...
 $ meta_dif: num  38 33 50 42 27 55 43 72 3 70 ...
 $ refs    : num  14 20 55 35 15 25 22 50 10 71 ...
 $ npi     : num  16 18 25 26 9 18 9 35 10 41 ...
 $ nov     : num  9 13 20 21 11 12 8 18 11 17 ...
 $ ack3    : num  NA NA NA 20 20 20 20 20 NA 20 ...
 $ ac46    : num  NA NA 26 30 29 29 26 31 29 25 ...
 $ dbase   : num  25 27 27 NA NA NA NA NA 29 NA ...
 $ edu_resp: num  91 84 86 96 96 87 90 82 92 91 ...
 $ edu_supi: num  6 11 11 3 3 6 4 11 2 16 ...
 $ edu_sup : num  16 20 31 22 9 11 27 35 12 30 ...
 $ edu_medi: num  22 29 30 29 29 28 25 27 24 31 ...
 $ edu_med : num  38 31 20 31 26 41 32 21 34 20 ...
 $ prof_qlt: num  85 90 80 96 95 90 93 93 89 100 ...
 $ prof_qle: num  16 10 12 4 5 5 0 11 16 0 ...
 $ test_num: num  1090 840 472 272 216 247 167 292 782 219 ...
 $ edu     : num  3.45 3.06 2.82 3.32 3.76 ...
 $ dst_nm  : chr  "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" "Alameda City Unified" ...
 $ cdd_nm  : chr  "Alameda" "Alameda" "Alameda" "Alameda" ...

In [ ]:
head(df,n = 6)

  id           tipo        meta_r1 meta_r2 meta_rs pprm cald api00 api99
1 1.611190e+12 Superior    Yes     Yes     Yes     Yes  NA   731   693
2 1.611190e+12 Superior    Yes     No      No      No   NA   622   589
3 1.611196e+12 Medio       Yes     Yes     Yes     Yes  NA   622   572
4 1.611196e+12 Fundamental Yes     Yes     Yes     Yes  NA   774   732
5 1.611196e+12 Fundamental Yes     Yes     Yes     Yes  NA   811   784
6 1.611196e+12 Fundamental Yes     Yes     Yes     Yes  NA   780   725
  meta_dif ⋯ edu_supi edu_sup edu_medi edu_med prof_qlt prof_qle test_num edu
1 38       ⋯  6       16      22       38      85       16       1090     3.45
2 33       ⋯ 11       20      29       31      90       10        840     3.06
3 50       ⋯ 11       31      30       20      80       12        472     2.82
4 42       ⋯  3       22      29       31      96        4        272     3.32
5 27       ⋯  3        9      29       26      95        5        216     3.76
6 55       ⋯  6       11      28       41      90        5        247     3.44
  dst_nm               cdd_nm
1 Alameda City Unified Alameda
2 Alameda City Unified Alameda
3 Alameda City Unified Alameda
4 Alameda City Unified Alameda
5 Alameda City Unified Alameda
6 Alameda City Unified Alameda

# **3.** Exportando o dataset tratado

In [ ]:
# Salvando o arquivo
write.csv(df,file='arquivo_tratado.csv',row.names = FALSE)